In [1]:
import pandas as pd
import numpy as np

# create an array
data = np.array([ [1, 5], [2, 6], [3, 7], [4, 8] ])
data

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [2]:
# create a dataframe using array
df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4'], columns=['col1', 'col2'])
df

      col1  col2
row1     1     5
row2     2     6
row3     3     7
row4     4     8