In [1]:
import pandas as pd

# read csv file 
student_performance_df = pd.read_csv("F:\Python_Programming_Learning\Pandas\Data\students_performance.csv")
student_performance_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [2]:
# get sum of a column
student_performance_df['math score'].sum()

66089

In [3]:
# calculate average score
student_performance_df['average score'] = (student_performance_df['math score'] + student_performance_df['reading score'] + student_performance_df['writing score']) / 3
student_performance_df = student_performance_df.round(2)
student_performance_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67
1,female,group C,some college,standard,completed,69,90,88,82.33
2,female,group B,master's degree,standard,none,90,95,93,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33
4,male,group C,some college,standard,none,76,78,75,76.33

In [4]:
# count
student_performance_df['math score'].count()

0

In [7]:
# mean
student_performance_df['math score'].mean()

66.089

In [10]:
# standard deviatin
student_performance_df['math score'].std()

15.163080096009468

In [11]:
# max
student_performance_df['math score'].max()

100

In [12]:
# min
student_performance_df['math score'].min()

0

In [5]:
# get statistical information of a dataframe
student_performance_df.describe().round(2)

       math score  reading score  writing score  average score
count     1000.00        1000.00        1000.00        1000.00
mean        66.09          69.17          68.05          67.77
std         15.16          14.60          15.20          14.26
min          0.00          17.00          10.00           9.00
25%         57.00          59.00          57.75          58.33
50%         66.00          70.00          69.00          68.33
75%         77.00          79.00          79.00          77.67
max        100.00         100.00         100.00         100.00