In [37]:
import pandas as pd

# read csv file 
student_performance_df = pd.read_csv("students_performance.csv")
student_performance_df.head()

# get sum of a column
student_performance_df['math score'].sum()

# calculate average score
student_performance_df['average score'] = (student_performance_df['math score'] + student_performance_df['reading score'] + student_performance_df['writing score']) / 3
student_performance_df = student_performance_df.round(2)
student_performance_df.head()

# count, mean, std, max & min
student_performance_df['math score'].count()
student_performance_df['math score'].mean()
student_performance_df['math score'].std()
student_performance_df['math score'].max()
student_performance_df['math score'].min()

# get statistical information of a dataframe
student_performance_df.describe().round(2)

       math score  reading score  writing score  average score
count     1000.00        1000.00        1000.00        1000.00
mean        66.09          69.17          68.05          67.77
std         15.16          14.60          15.20          14.26
min          0.00          17.00          10.00           9.00
25%         57.00          59.00          57.75          58.33
50%         66.00          70.00          69.00          68.33
75%         77.00          79.00          79.00          77.67
max        100.00         100.00         100.00         100.00